<div class="row">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
    <div class="pull-left">
      <h4>New to Twetter? <span>Sign up</span></h4>
    </div>
    <div class="clearfix"></div>
    <hr />

    <div class="pull-left">
	<%= form_for @user do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name %><br />

	  <%= f.label :username %>
	  <%= f.text_field :username %><br />

	  <%= f.submit %>
	<% end %>
    </div>

  </div>
</div>
