<h1>All Twets informations list</h1>
Total <%= @twets.count %> twets posted!
<hr>

<% @twets.each do |twet| %>

  <%= content_tag :strong, twet.user.name, :class => 'pull-left text-middle' %>  &nbsp;&nbsp; 
  <%= content_tag :small, "@"+twet.user.username, :class => 'text-muted pad-10 text-middle' %>
  <%= content_tag :small, twet.created_at.strftime("%b %-d"), :class => 'text-muted text-middle pull-right' %>
  <div class="clearfix"></div>
  <%= content_tag :p, twet.content %>

  <hr>
<% end %>
