<!DOCTYPE html>
<html>
<head>
  <title>Twetter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Twetter", root_path, :class => "brand" %>

        <div class="span4">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>

	<div class="session-controls" align=right>
	   <% if current_user %>
	      Logged in as <%= current_user.username %>.
	      <div class="btn-group">
		<%= link_to "Log Out", session_path("current"), method: 'delete', :class => 'btn btn-primary btn-mini' %>
	      </div>
	    <% else %>
	      <div class="btn-group">
		 <%= form_tag sessions_path do %>
		     <%= text_field_tag :username, params[:username], :placeholder=>"Enter username" %> 
		     <%= text_field_tag :password, params[:password], :placeholder=>"Enter password", :type => "password" %>
		     <%= submit_tag "Log In" %>
		 <% end %>
	      </div>
	    <% end %>
	</div> 

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9">
       <%= yield %>
    </div>

    <div class="span3 sidebar">
       <div class="my-wiki-site">
          <h3>Join us today!</h3>
          <div class="clearfix top-space"></div>
            <%= render :partial => 'sign_up' %>
       </div>

       <div class="row">
          <h4>About Twetter</h4>
          <div class="clearfix top-space"></div>
          <p>Twetter is a project for twitter clone. </p>
          <p>You can make friends here, exchange your learned skills of Ruby on Rails.</p>
          <p>Any suggestions? Feel free to email me: <a href="mailto:limingth@gmail.com">limingth@gmail.com</a></p>
       </div>
    </div>
  </div>
</div>

</body>
</html>
