<!DOCTYPE html>
<html>
<head>
  <title>Twetter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Twetter", root_path, :class => "brand" %>

        <div class="span4">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>

	<div class="session-controls" align=right>
	   <% if current_user %>
              Logged in as <%= current_user.username %>.
	      <div class="btn-group">
		<%= link_to "Log Out", session_path("current"), method: 'delete', :class => 'btn btn-primary btn-mini' %>
	      </div>
           <% end %>	 
	</div>
     </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="span3 siderbar">
	<div class="col-md-4">
	  <ul class="nav nav-pills nav-stacked well text-left">
	    <li>
	      <%= content_tag :strong, current_user.name %>
	    </li>
	    <li>
	      <%= content_tag :small, '@'+current_user.username %>
	    </li>
	    <li>
		      <table class="table table-bordered stats">
			<tbody>
			  <tr>
			    <td>
			      <%= content_tag :h4, current_user.id %>
			      <%= content_tag :small, 'Twets', :class => "uppercase lighter" %>
			    </td>
			    <td>
			      <%= content_tag :h4, current_user.username %>
			      <%= content_tag :small, 'Following', :class => "uppercase lighter" %>
			    </td>
			    <td>
			      <%= content_tag :h4, current_user.username %>
			      <%= content_tag :small, 'Followers', :class => "uppercase lighter" %>
			    </td>
			</tbody>
		      </table>
	    </li>
	    <li>
		    <%= form_for (@twet || :twet), :url => twets_path,
					 :method => :POST,
					 :role => :form do |f| %>
		      <div class="mar-top-15">
			<%= content_tag :div do %>
			  <%= f.text_area :content, :placeholder => "Compose new Twet...", :class => 'form-control', :height => "500" %>
			<% end %>
			<%= f.submit "Twet", :class => "btn btn-primary pull-right" %>
		      </div>
		    <% end %>
	    </li>
	</div>
    </div>

    <div class="span9">
       <%= render :partial => 'shared/twet_list' %>
    </div>

  </div>
</div>

</body>
</html>
